  <div>
    <h1 class="chitter_header">Chitter</h1>
  <div class=body>
    <ul class="login_list">
    <form action='/feed' method='post'>
      <li>
        <label for=username>username:</label>
        <input type=text name=username><div class=flash_notice> </div>
      </li>
      <li>
        <label for=password>password:</label>
        <input type=text name=password><div class=flash_notice> </div>
      </li>
      <li>
        <input type=submit name='login' value=Login>
      </form>
      <form action='/signup' method=get>
        <input type=submit value="Sign up">
      </form>
      </li>
  
    </div>
</div>